* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main__part {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top_back.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top {
    min-height: 768px;
    background: linear-gradient(0deg,
            #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
    flex-wrap: wrap;
}

.top__content {
    width: 425px;
    font-size: 16px;
    line-height: 26px;
}

.daily__news {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.card__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.main__news {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.PVT__news {
    padding-bottom: 112px;
}

.project__img {
    width: 100%;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project__item__margin {
    margin-right: 32px;
}

.project__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.footer__head {
    width: 340px !important;
    font-weight: 300 !important;
    font-size: 36px !important;
    line-height: 46px !important;
    letter-spacing: 0.05em !important;
    color: #FFF !important;
    margin-bottom: 32px !important;
    text-align: left !important;
}

.footer__content {
    width: 495px !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 26px !important;
    letter-spacing: 0.05em !important;
    color: #FFFFFF !important;
    opacity: 0.6 !important;
}

.footer__contacts {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}

.footer__contacts:first-child::before {
    content: '1. ';
    display: block;
    margin-right: 16px;
}

.footer__contacts:last-child::before {
    content: '2. ';
    display: block;
    margin-right: 16px;
}

.footer__contacts:nth-child(2)::before {
    content: '3. ';
    display: block;
    margin-right: 16px;
}

.con__info {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    color: #FFFFFF;
    padding: 50px;
}

.contact__info {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}

.cont__feedback {
    display: flex;
    justify-content: center;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    flex-basis: 300px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(71, 198, 248, 0.5);
    border-radius: 10px;
}

.form textarea {
    height: 100px;
}

.map {
    justify-content: center;
    width: auto;
    max-width: 1140px;
    height: 500px;
    padding: 40px;
}

.footer {
    background: #316099;
    color: #FFFFFF;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.bottom__content {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__parent {
    width: 495px;
}

.in_data {
    width: 100%;
    height: 50px;
}

.paragraph,
.head_h1,
.head_h4 {
    color: #1F3F68
}

.head_h2,
.head_h3,
.button {
    text-align: center;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
}

.text_project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;

}

.head_h1 {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.head_h1 .paragraph {
    width: 425px;
}

.head_h2 {
    font-weight: 500;
    font-size: 44px;
}

.main__content {
    padding-top: 64px;
}

.head_h3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.head_project {

    text-align: center;
    color: #000000;
}

.head_h4 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.in_data {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button {
    background: #5A98D0;
    box-shadow: 0 0 10px rgba(71, 198, 248, 0.5);
    width: auto;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.con__info {
    background-color: lightblue;
    text-align: center;
}

.copyrights {
    margin-top: 64px;
}

.footer__copyrights {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.project__text_mini {
    right: auto;
    left: 32px;
    top: 32px;
    text-align: left;
}

.footer__line {
    opacity: 0.4;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footer__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
}

.top__contacts {
    min-height: 400px;
}

.button {
    margin-top: 50px;
}

.in_data {
    padding: 16px;
    margin: 16px 0;
}

.footer {
    margin-top: 0px;
}

.cont__adress {
    margin-top: 16px;
    text-align: left;
}

.bot__address {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 12px;
    width: 100%;
}

.main__contacts {
    text-align: left;
    padding: 0;
    list-style-type: none;
    line-height: 28px;
}

.footer__links {
    list-style-type: none;
    text-decoration: none !important;
    line-height: 28px;
}

@media (max-width: 768px) {
    .top__info {
        background-position: right 280px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cont__feedback {
        flex-wrap: nowrap;

    }
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .container__bottom {
        padding-left: 124px;
        padding-right: 124px;
    }

    .top__info {
        background-position: right 280px;
    }

    .PVT__news {
        padding-bottom: 109px;
    }

    .bottom__content {
        justify-content: unset;
        padding-bottom: 64px;
    }

    .footer {
        padding-top: 47px;
        margin-top: 0;
    }

    .footer__content {
        width: 65% !important;
    }

    .footer__button {
        padding: 3px 10px;
        width: 133px
    }

    .footer__info {
        display: inline-block;
    }

    .footer__contacts {
        margin: 25px;
    }

    .top__contacts {
        min-height: 200px;
    }

    .footer__form {
        text-align: center;
    }

    .in_data {
        padding: 16px;
        margin: 16px 0;
    }

    .cont__adress {
        margin-top: 16px;
        text-align: left;
    }

    .bot__address {
        font-size: 16px;
        line-height: 26px;
        text-align: left;
        margin-bottom: 12px;
        width: 100%;
    }

    .main__contacts {
        text-align: left;
        padding: 16px 0;
        list-style-type: none;
        line-height: 28px;
    }

    .footer__links {
        list-style-type: none;
        text-decoration: none !important;
        line-height: 28px;
    }

    .button {
        margin-top: 50px;
    }
}

@media (max-width: 667px) {

    .menu {
        padding-top: 24px;
    }

    .top {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .top__info {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .main__news {
        flex-direction: column;
        align-items: center;
        padding-top: 32px;
    }

    .daily__news {
        margin-bottom: 32px;
        width: 100%;
    }

    .head_h1 {
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 12px;
        width: 100%;
    }

    .top__content {
        width: 100%;
        text-align: center;
    }

    .top__button {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .head_h3 {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .main__content {
        padding-top: 48px;
    }

    .text_project {
        width: 100%;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .project__text_mini {
        left: 16px;
    }

    .project__parent {
        flex-direction: column;
        margin-top: 16px;
    }

    .project__item__margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .PVT__news {
        padding-bottom: 64px;
    }

    .footer {
        min-height: 375px;
        box-sizing: border-box;
        padding-bottom: 32px;
    }

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .container__bottom {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .bottom__content {
        flex-direction: column;
        padding-bottom: 41px;
        align-items: center;

    }

    .footer__parent {
        width: 100%;
        text-align: center;
    }

    .footer__head {
        font-size: 24px !important;
        line-height: 28px !important;
        text-align: center !important;
        margin-bottom: 12px !important;
        width: 100% !important;
    }

    .footer__content {
        width: 100% !important;
        margin-top: 32px;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer__button {
        letter-spacing: 0.05em;
        opacity: 0.6;
        display: inline-block;
        font-size: 16px;
        line-height: 26px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
    }

    .footer__info {
        margin-top: 32px;
    }

    .footer__contacts {
        margin: 18px;
    }

    .copyrights {
        margin-top: 37px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.4;
    }

    .head_h2 {
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 12px;
        width: 100%;
    }

    .con__info {
        padding-top: 36px;
        align-items: center;
    }

    .top__con_info {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 12px;
        width: 100%;
    }

    .main__contact_info {
        flex-direction: column;
        align-items: center;
    }

    .cont__adress {
        margin: 16px;
        text-align: center;
    }

    .bot__address {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 12px;
        width: 100%;
    }

    .main__contacts {
        text-align: center;
        padding: 16px;
        list-style-type: none;
        line-height: 28px;
    }

    .top__contacts {
        min-height: 270px;
        box-sizing: border-box;
        padding-bottom: 0px;
    }

    .footer__links {
        padding-bottom: 64px;
        list-style-type: none;
        text-decoration: none !important;
        line-height: 28px;
    }

    .map {
        padding: 32px 0 32px 0;
    }

    .cont__image {
        width: 100%;
        align-self: center;
    }

    .footer__form {
        text-align: center;
    }
}